google-generativeai
Pillow 
django-environ
django
python-dotenv
dj-database-url
django-database-url
gunicorn
sqlparse
psycopg2
asgiref
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
langchain-community
django-cors-headers
